$-oneC: #0C0032;
$twoC: #190061;
$threeC: #240090;
$fourC: #3500D3;
$fiveC: #282828;

*{margin: 0;}
.navbar {
    top: 0
}
.navbar img{
    width: 200px;
    height: auto;
}

main{
    background-color: $twoC;
    width: 100%;
    height: 100%;

    .bgdoidao{
        background-image: url('../assets/banner-video.gif');
        display: block;
        position: absolute;
        opacity: 0.2;
        width: 100%;
        height: 100%;
        background-size: cover; 
        background-position: center; 

    }
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    padding: 2rem 3rem;
    height: 100%;
    box-sizing: border-box;
}

.smartTitle{
    max-width: 40%;
    margin-bottom: 50px;

    h1{
        font-size: 50px;
        font-weight: 600;

        b{
            font-size: 60px;

            @mixin holographic {
                background-image: 
                  conic-gradient(#fff, #000, #fff, #000, #fff, #000, #fff, #000), 
                  conic-gradient(#fff, #000, #fff, #000, #fff, #000, #fff, #000), 
                  radial-gradient(circle at 40% 5%, #2ad0ca, #e1f664, #feb0fe, #abb3fc, #5df7a4, #58c4f6);
                background-blend-mode: screen, difference, normal;
              }
              
              
                @include holographic;
                width: 50vmin;
                aspect-ratio: 1 / 1;
                box-shadow: 0 8px 24px rgba(#141414, 0.2);
              
                -webkit-background-clip: text;
                -webkit-text-fill-color:transparent;
        }
    }
}

.NameTitle{
    margin: 2% 0;
}

.get-directions{
    height: auto;
    padding: 10px 20px;
    background-color: $fourC;
    border-radius: 15px;
    display: flex;
    align-items: center;
    width: min-content;
    cursor: pointer;
    color: #ffffff;

    &:hover {
        background-color: darken($fourC, 10%);
        color: #ffffff;
      }
    
}