<main class="main">
  <div class="content">
    <div class="navbar">
      <img src="../assets/eccomerce-logo.webp" alt="" srcset="">
    </div>
      <h1>Escolha, Peça, Crie sua propria capinha </h1>
      <div class="card" id="">
        <b>Holografico</b>
      </div>

      <div class="get-Directions">
        <button mat-raised-button class="loginBtn" color="accent">Faça Login</button>
        <button mat-raised-button class="registerBtn">Crie Conta</button>
      </div>
  </div>
</main>


<router-outlet></router-outlet>