<main class="main">
  <section class="bgdoidao"></section>
  <div class="content">
    <div class="navbar animate__animated animate__fadeInDown">
      <img src="../assets/logo_white.png" alt="" srcset="">
    </div>
    
    <div class="smartTitle">
      
      <h1 class="NameTitle animate__animated animate__fadeInDown">
        Escolha, Peça, Crie sua propria capinha  <b>Holografico</b>
      </h1>
  
      <div class="animate__animated animate__fadeInUp">
        <button class="get-directions"> 
          <i class="material-icons left">person</i>
          <a class="waves-effect waves-light btn">
            Entrar
          </a>
        </button>
      </div>
      
    </div>

    <div class="footer animate__animated animate__fadeInUp">
      <footer>Jhey's Company LTDA</footer>
    </div>
  </div>
</main>


<router-outlet></router-outlet>