<main class="main">
  <div class="content">
    <div class="navbar">
      <img src="../assets/eccomerce-logo.webp" alt="" srcset="">
    </div>
    <div class="left-side">
      <div class="banner">
        <h1>Escolha, Peça, Crie sua propria capinha 
          <div class="card" id="">
            <b>HOLO</b>
          </div>
        </h1>
        
        <div class="get-Directions">
          <button mat-raised-button class="loginBtn" color="accent">Faça Login</button>
          <button mat-raised-button class="registerBtn">Crie Conta</button>
        </div>
      </div>
    </div>
    <div class="right-side">
      <div class="image-container">
        <img src="../assets/banner-video.gif" alt="" srcset="">
      </div>
    </div>
  </div>
</main>


<router-outlet></router-outlet>